<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/form.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/style.css') }}" />
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
				<table style="width: 100%;">
					<tr>
						<td rowspan="2">
							<a href="{{ path('_welcome') }}">
								<img src="{{ asset('bundles/acmedemo/images/logo.gif') }}" alt="Symfony logo" />
							</a>
						</td>
						<td>
							<ul class="lang">
								<li class="active">
									<a href="{{path(route, { 'lang': 'ru' })}}">ru</a>
								</li>
								<li>
									<a href="{{path(route, { 'lang': 'en' })}}">en</a>
								</li>
							</ul>
							<script type="text/javascript">
								$('ul.lang li').each(function(i){
									$(this).attr('class', '');
									{% if lang == 'ru' %}
										if($(this).index()==0)
											$(this).attr('class', 'active');
									{% endif %}
									{% if lang == 'en' %}
										if($(this).index()==1)
											$(this).attr('class', 'active');
									{% endif %}
								});
							</script>
						</td>
					</tr>
					<tr>
						<td>
							<ul class="main_menu">
								<li class="active"><a href="{{path('welcome_index', { 'lang': lang })}}">{{translate.t('Главная')}}</a></li>
								<li><a href="{{path('company', { 'lang': lang })}}">{{translate.t('О нас')}}</a></li>
								<li><a href="{{path('contacts', { 'lang': lang })}}">{{translate.t('Контакты')}}</a></li>
							</ul>
							<script type="text/javascript">
								$('ul.main_menu li').each(function(i){
									$(this).attr('class', '');
									{% if route == 'welcome_index' %}
										if($(this).index()==0)
											$(this).attr('class', 'active');
									{% endif %}
									{% if route == 'company' %}
										if($(this).index()==1)
											$(this).attr('class', 'active');
									{% endif %}
									{% if route == 'contacts' %}
										if($(this).index()==2)
											$(this).attr('class', 'active');
									{% endif %}
								});
							</script>
						</td>
					</tr>
				</table>
            </div>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ flashMessage }}
                </div>
            {% endfor %}

            {% block content_header %}
                <ul id="menu">
                    {% block content_header_more %}
                        <li><a href="{{ path('_demo') }}">Demo Home</a></li>
                    {% endblock %}
                </ul>

                <div style="clear: both"></div>
            {% endblock %}

            <div class="symfony-content">
                {% block content %}
                {% endblock %}
            </div>

            {% if code is defined %}
                <h2>Code behind this page</h2>
                <div class="symfony-content">{{ code|raw }}</div>
            {% endif %}
        </div>
    </body>
</html>
