{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}
{% block content %}
<div class = "sign_form">
	<form action="{{ path('welcome_index') }}" method="post" {{ form_enctype(form) }}>
		{{ form_errors(form) }}		
		<table>
			<tr>
				<td class = "sign_title">
					{{ form_label(form.mail) }}	
				</td>
				<td class = "sign_input">
					{{ form_widget(form.mail) }}
					{{ form_errors(form.mail)}}
				</td>
			</tr>
			<tr>
				<td class = "sign_title">
					{{ form_label(form.phone) }}	
				</td>
				<td class = "sign_input">
					{{ form_widget(form.phone) }}
					{{ form_errors(form.phone)}}
				</td>
			</tr>
			<tr>
				<td colspan = 2>
					<input type="submit" value = "Зарегистрироваться сейчас" class = "sing_button"/>
				</td>
			</tr>
		</table>

		{{ form_rest(form) }}		
	</form>
</div>

{% endblock %}