{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}
{% block content %}
<div style="padding-bottom: 20px; text-align: center; font-size: 150%">
{{content|raw}}
</div>
<div class = "sign_form">
<table>
	<tr>
		<td style="width: 49%">
			
		</td>
		<td style="width: 2%">
			<form action="{{ path('welcome_index') }}" method="post" {{ form_enctype(form) }}>
				{{ form_errors(form) }}		
				<table>
					<tr>
						<td class = "sign_title">
							{{ form_label(form.mail) }}	
						</td>
						<td class = "sign_input">
							{{ form_widget(form.mail) }}
							
						</td>
					</tr>
					<tr>
						<td  colspan="2" class="error">
							{{ form_errors(form.mail)}}
						</td>
					</tr>
					<tr>
						<td class = "sign_title">
							{{ form_label(form.phone) }}	
						</td>
						<td class = "sign_input">
							{{ form_widget(form.phone) }}
							
						</td>
					</tr>
					<tr>
						<td colspan="2" class="error">
							{{ form_errors(form.phone)}}
						</td>
					</tr>
					<tr>
						<td colspan = 2 style="text-align: center">
							<input type="submit" value = "{{translate.t('Зарегистрироваться сейчас')}}" class = "sing_button"/>
						</td>
					</tr>
				</table>

				{{ form_rest(form) }}		
			</form>
		</td>
		<td style="width: 49%">
		</td>
	</tr>
</table>

</div>

{% endblock %}