{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}
{% block content %}
<div style="padding-bottom: 20px; text-align: center; font-size: 150%">
{{content|raw}}
</div>
<div class = "sign_form">
<p style="text-align: center; font-style: italic">
	{{translate.t('Введите Ваш email, чтобы присоединиться к нам')}}
</p>
<table>
	<tr>
		<td style="width: 49%">
			
		</td>
		<td style="width: 2%">
			<div class="out_border">
				<form action="{{ path('welcome_index', { 'lang': lang })}}" method="post" {{ form_enctype(form) }}>
					{{ form_errors(form) }}		
					<table>
						<tr>
							<td class = "sign_input">
								{{ form_widget(form.mail)}} 							
							</td>
							<td colspan = 2 style="text-align: center">
								<input type="submit" value = "GO" class = "sing_button"/>
							</td>
						</tr>
						<tr>
							<td  colspan="2" class="error">
								{{ form_errors(form.mail)}}								
								<div></div>
							</td>
						</tr>
					</table>
					{{ form_rest(form) }}		
				</form>
			</div>
			
		</td>
		<td style="width: 49%">
		</td>
	</tr>
</table>

</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#form_mail').keydown(function(){
			$(this).css('color', 'black');
		});
		$('#form_mail').attr({
			'onfocus' : "if (this.value == 'name@email.com') this.value = '';",
			'onblur' : "if (this.value == '') this.value = 'name@email.com';",
		});
		
		$('td.error ul li').html("{{translate.t('Данные не являются e-mail адресом!')}}");
		{% if mes=='1'%}
			$('td.error div').html("{{translate.t('Пользователь с таким e-mail уже существует!')}}");
		{% endif %}
		{% if mes=='2'%}
			$('td.error div').html("<br/>{{translate.t('Вам следует ввести свой e-mail!')}}");
		{% endif %}
	});
</script>
{% endblock %}